@tailwind base;
@tailwind components;
@tailwind utilities;


/* Make the app take full width/height (prevents the right-side empty space) */
html, body, #root {
  height: 100%;
  width: 100%;
}

:root {
  --accent: 99 102 241; /* indigo-500 */
}
